streamlit
groq
requests
scrapingbee

# RAG dependencies
langchain==0.1.0
langchain-groq==0.0.1
faiss-cpu
praw

torch==2.1.2
transformers
sentence-transformers
langchain-community==0.0.20
accelerate==0.25.0
